{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Киноафиша</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}?v=6">
</head>
<body>

<header class="site-header">
  <div class="container">
    <div class="logo">
      <a>🎬 <span>Qфиша</span></a>
    </div>
    <nav class="nav-links">
      <a href="{% url 'app_kino:movie_list' %}">Фильмы</a>
      <a href="{% url 'app_kino:home' %}">Тренды</a>
      <a href="{% url 'admin:index' %}">Админская панель</a>
      <a href="{% url 'app_kino:movie_create' %}">Добавить фильм</a>
    </nav>
      <form action="{% url 'app_kino:search' %}" method="get" class="search-bar">
      <input type="text" name="q" placeholder="Поиск фильмов">
      <button type="submit">🔍</button>
    </form>
  </div>
</header>


<hr class="header-line">

<main class="container">
  {% block content %}{% endblock %}
</main>

<footer class="footer">
  <p>© Qфиша. Все права защищены.</p>
</footer>

</body>
</html>
